


<div class = "about_page_div1">

<div class = "about_page_text_div1-1"> 
    <div class = 'title'><h1 class = "about_page_text_div1-1_header"> What We Do........ </h1> </div> 
    <h2> <p class = 'about_page_text_div1-1_text'> We are a website that does the following: we catalogue books into a logically organized form. Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah  </p> </h2>
</div> 

<div class = "about_page_image_div1-2"> 
    <img src = 'https://www.protocol.com/media-library/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbWFnZSI6Imh0dHBzOi8vYXNzZXRzLnJibC5tcy8yNTYzNDc5OC9vcmlnaW4uanBnIiwiZXhwaXJlc19hdCI6MTY1MTI2Nzg1NX0.1TniDEeokHM4YagrY-mpqY8KH260ivfsfBVZeN6kTXs/image.jpg?width=1245&quality=85&coordinates=0%2C230%2C0%2C230&height=700' alt = 'picture unavailabel' class = 'about_page_image1-2-1'>
</div> 

</div> 

<div class = "about_page_div2"> 

<div class = "about_page_div2_left_side"> 
    <%= image_tag("https://i2r9x7i6.stackpathcdn.com/app/uploads/2020/04/Bookshelf-Envy_Get-Lit_Sabrina-Sanchez_EL.jpg", :class => "about_page_div2_left_side_image") %>
</div> 

<div class = "about_page_div2_right_side">
    <div class = 'title'> <h1> How We Do It....... </h1> </div> 
    <p> <h2 class = "about_page_div2_right_side_text"> How do we do it... <br> Like this... Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah BlahBlah </h2> <p> 
</div> 

</div> 
