


<div class = "about_page_div1">

<div class = "about_page_text_div1-1"> 
    <h2> <p> We are a website that does the following: we catalogue books into a logically organized form. Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah  </p> </h2> 
</div> 

<div class = "about_page_image_div1-2"> 
    <img src = 'https://www.protocol.com/media-library/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbWFnZSI6Imh0dHBzOi8vYXNzZXRzLnJibC5tcy8yNTYzNDc5OC9vcmlnaW4uanBnIiwiZXhwaXJlc19hdCI6MTY1MTI2Nzg1NX0.1TniDEeokHM4YagrY-mpqY8KH260ivfsfBVZeN6kTXs/image.jpg?width=1245&quality=85&coordinates=0%2C230%2C0%2C230&height=700' alt = 'picture unavailabel' class = 'about_page_image1-2-1'>
</div> 

</div> 