// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// about page is code 1
// show page is code 2

.top_menu {
    background-color: #6A7FDB;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 25% 10px 25%;
    height: 100px;
}

.image_in_top_menu {
    border: solid;
    width: 75px;
    height: 75px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

h2 {
    color:#45CB85;
}

.about_page_div1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.about_page_text_div1-1 {
    width: 50%;
}

.about_page_image_div1-2 {
    width: 50%;
    }

.about_page_image1-2-1{
    width: 256px;
    height: 300px;
    margin-left: 25%;
    margin-right: 25%;
    border: solid;
}

