// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// about page is code 1
// show page is code 2
h1 {
    color: #322A26;
}

h2 {
    color: #191308; 
}

.top_menu {
    background-color: #454B66;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 20% 10px 20%;
    height: 100px;
}

.image_in_top_menu {
    border: solid;
    width: 75px;
    height: 75px;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

.top_menu_links{
    color: inherit;
}

.about_page_div1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 700px;
    width: 100%;
}

.about_page_text_div1-1 {
    max-width: 60%;
}

.about_page_image_div1-2 {
    max-width: 40%;
}

.about_page_image1-2-1{
    width: 305px;
    height: 305px;
    margin-left: 25%;
    margin-right: 25%;
    border: solid 2px black;
}

.about_page_div2 {
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 700px; 
}

.about_page_div2_left_side {
    float: left;
    display: flex;
    max-width: 40%;
    justify-content: center;
}

.about_page_div2_left_side_image {
    width: 305px; 
    height: 305px;
    border: solid 2px black;
    margin-left: 25%;
    margin-right: 25%;
}

.about_page_div2_right_side {
    max-width: 60%;
    justify-content: center;
}

.about_page_div2_right_side_text {
    justify-content: center;
}



